USE [Pdm]
GO
/****** Object:  StoredProcedure [ItemSiteMaint].[ItemSiteMaintSave]    Script Date: 16-12-2025 20:14:20 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

ALTER PROCEDURE [ItemSiteMaint].[ItemSiteMaintSave]
(
    @item_codes [ItemSiteMaint].[ItemCodesUDT] READONLY,
    @locations [ItemSiteMaint].[LocationUDT] READONLY,
    @usr_acct VARCHAR(8)
)
AS
/*******************************************************************************      
* Name: Item Site Maintenance - Save
* Author: msabudix    
* Modification History      
* Date       Person              Description      
* ---------- ------------------- -----------------------------------------      
* 09/29/2025  msabudix          CHG117157675 - Created    
* 06/12/2025  Francis          TWC5924-1892:ItemSiteMaint  
*******************************************************************************/
BEGIN
    SET NOCOUNT ON
    
    DECLARE @counter INT
    DECLARE @result_message VARCHAR(500)
    DECLARE @rows_affected INT = 0

    -- Create temp tables for operations
    CREATE TABLE #insert(
        id INT IDENTITY, 
        item_cde VARCHAR(21), 
        plnt_idn INT, 
        prod_strt_dte SMALLDATETIME, 
        prod_end_dte SMALLDATETIME,
        starting_site_ind CHAR(1)
    )
    
    CREATE TABLE #update(
        id INT IDENTITY, 
        item_cde VARCHAR(21), 
        plnt_idn INT, 
        prod_strt_dte SMALLDATETIME, 
        prod_end_dte SMALLDATETIME,
        starting_site_ind CHAR(1)
    )
    
    CREATE TABLE #delete(
        id INT IDENTITY, 
        item_cde VARCHAR(21), 
        plnt_idn INT
    )

    BEGIN TRY
        -- Populate the temp tables with appropriate data
        
        /****** Insert records for items that don't have the selected plants *****/
        INSERT INTO #insert (item_cde, plnt_idn, prod_strt_dte, prod_end_dte)
        SELECT i.item_code, l.plant_idn, l.begin_date, l.end_date
        FROM @item_codes i
        CROSS JOIN @locations l
        WHERE NOT EXISTS (
            SELECT 1 FROM [ItemBom].[ItemPlant] ip 
            WHERE ip.ItemCd = i.item_code AND ip.PlantId = l.plant_idn
        )
        
        /****** Update records where dates are different *****/
        --* 06/12/2025  Francis          TWC5924-1892:ItemSiteMaint  
        INSERT INTO #update (item_cde, plnt_idn, prod_strt_dte, prod_end_dte, starting_site_ind)
        SELECT i.item_code, l.plant_idn, l.begin_date, l.end_date, l.starting_site_ind
        FROM @item_codes i
        CROSS JOIN @locations l
        WHERE EXISTS (
            SELECT 1 FROM [ItemBom].[ItemPlant] ip 
            WHERE ip.ItemCd = i.item_code 
              AND ip.PlantId = l.plant_idn
              AND (ISNULL(l.begin_date,'') != ISNULL(ip.ProductionStartDt,'') 
                   OR ISNULL(l.end_date,'') != ISNULL(ip.ProductionEndDt,''))
        )
        
        /****** Delete records for plants not in selection but in database *****/
        INSERT INTO #delete (item_cde, plnt_idn)
        SELECT ip.ItemCd, ip.PlantId
        FROM [ItemBom].[ItemPlant] ip
        JOIN @item_codes i ON ip.ItemCd = i.item_code
        WHERE NOT EXISTS (
            SELECT 1 FROM @locations l WHERE l.plant_idn = ip.PlantId
        )

        BEGIN TRANSACTION
            
            /************************************ DELETE PLANTS *********************************************/
            DELETE [ItemBom].[ItemPlant]
            FROM [ItemBom].[ItemPlant] ip
            JOIN #delete d ON d.plnt_idn = ip.PlantId AND d.item_cde = ip.ItemCd
            
            SET @rows_affected = @rows_affected + @@ROWCOUNT
            
            -- Log deletions to ItemModHistory
            INSERT INTO [ItemBom].[ItemModHistory](ItemCd, Revision, ModifyTime, ItemModifyCd, AccountCd, CommentTxt)
            SELECT d.item_cde, ir.Revision, DATEADD(ms,-(d.id*30), GETDATE()), 188, @usr_acct, 
                   'Location ' + RTRIM(m.plnt_cde) + ' deleted.' 
            FROM #delete d 
            JOIN [ItemBom].[ManufacturingPlant] m ON m.plnt_idn = d.plnt_idn 
            LEFT JOIN [ItemBom].[ItemRevision] ir ON ir.ItemCd = d.item_cde 
            
            /************************************ UPDATE PLANTS *********************************************/
            --* 06/12/2025  Francis          TWC5924-1892:ItemSiteMaint  
            UPDATE [ItemBom].[ItemPlant] 
            SET ProductionStartDt = u.prod_strt_dte,
                ProductionEndDt = u.prod_end_dte,
                StartingSiteInd = u.starting_site_ind
            FROM [ItemBom].[ItemPlant] ip
            JOIN #update u ON ip.ItemCd = u.item_cde AND ip.PlantId = u.plnt_idn
            
            SET @rows_affected = @rows_affected + @@ROWCOUNT
            
            -- Log updates to ItemModHistory
            INSERT INTO [ItemBom].[ItemModHistory](ItemCd, Revision, ModifyTime, ItemModifyCd, AccountCd, CommentTxt)
            SELECT u.item_cde, ir.Revision, DATEADD(ms,-(u.id*30), GETDATE()), 188, @usr_acct, 
                   'Location ' + RTRIM(m.plnt_cde) + ' updated.' 
            FROM #update u 
            JOIN [ItemBom].[ManufacturingPlant] m ON m.plnt_idn = u.plnt_idn
            LEFT JOIN [ItemBom].[ItemRevision] ir ON ir.ItemCd = u.item_cde
            
            /************************************ INSERT PLANTS *********************************************/
            INSERT INTO [ItemBom].[ItemPlant] (ItemCd, PlantId, ProductionStartDt, ProductionEndDt, MrpBomExtendedDt, MporControlInd, MporAsofDt)
            SELECT DISTINCT item_cde, plnt_idn, prod_strt_dte, prod_end_dte, NULL, 'N', NULL
            FROM #insert 
            
            SET @rows_affected = @rows_affected + @@ROWCOUNT
            
            -- Log insertions to ItemModHistory
            INSERT INTO [ItemBom].[ItemModHistory](ItemCd, Revision, ModifyTime, ItemModifyCd, AccountCd, CommentTxt)
            SELECT i.item_cde, ir.Revision, DATEADD(ms,-(i.id*30), GETDATE()), 188, @usr_acct, 
                   'Location ' + RTRIM(m.plnt_cde) + ' added.' 
            FROM #insert i
            JOIN [ItemBom].[ManufacturingPlant] m ON m.plnt_idn = i.plnt_idn
            LEFT JOIN [ItemBom].[ItemRevision] ir ON ir.ItemCd = i.item_cde 

        COMMIT TRANSACTION
        
        SET @result_message = 'Save completed successfully. ' + CAST(@rows_affected AS VARCHAR) + ' records processed.'
        
    END TRY
    BEGIN CATCH
        IF @@TRANCOUNT > 0
            ROLLBACK TRANSACTION
            
        SET @result_message = 'Error occurred: ' + ERROR_MESSAGE()
        
        DECLARE @ErrorMessage NVARCHAR(4000) = ERROR_MESSAGE()
        DECLARE @ErrorSeverity INT = ERROR_SEVERITY()
        DECLARE @ErrorState INT = ERROR_STATE()
        
        RAISERROR(@ErrorMessage, @ErrorSeverity, @ErrorState)
    END CATCH
    
    -- Clean up temp tables
    DROP TABLE #insert
    DROP TABLE #update
    DROP TABLE #delete
    
    -- Return result message
    SELECT @result_message AS result_content
END