USE [Pdm]
GO
/****** Object:  StoredProcedure [ItemSiteMaint].[ItemSiteMaintReportGet]    Script Date: 15-12-2025 07:19:02 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

ALTER PROCEDURE [ItemSiteMaint].[ItemSiteMaintReportGet]
(
    @item_codes [ItemSiteMaint].[ItemCodesUDT] READONLY
)
AS
/*******************************************************************************      
* Name: Item Site Maintenance - Get Report
* Author: msabudix    
* Modification History      
* Date       Person              Description      
* ---------- ------------------- -----------------------------------------      
* 09/26/2025  msabudix          CHG117157675 - Created       
* 06/12/2025  Francis          TWC5924-1892:ItemSiteMaint  
*******************************************************************************/
BEGIN
    SET NOCOUNT ON;
    
    WITH cte (plnt_idn, sap_plant_cde, plant_cde, plant_nme, plant_type, begin_dte, end_dte, starting_site_ind)
    AS (
        SELECT  ip.PlantId, 
                mp.sap_plnt_cde,
                mp.plnt_cde, 
                mp.plnt_nme,
                ept.plnt_typ_dsc, 
                MIN(ip.ProductionStartDt), 
                MAX(ip.ProductionEndDt),
                MAX(ip.StartingSiteInd)
        FROM @item_codes i
        JOIN [ItemBom].[ItemPlant] ip ON ip.ItemCd = i.item_code  -- Updated join condition
        JOIN [ItemBom].[ManufacturingPlant] mp ON mp.plnt_idn = ip.PlantId
        JOIN [ItemSiteMaint].[ManufacturingPlantType] ept ON ept.plnt_typ_cde = mp.plnt_typ_cde
        GROUP BY ip.PlantId, mp.sap_plnt_cde, mp.plnt_cde, mp.plnt_nme, ept.plnt_typ_dsc
    )
    SELECT ROW_NUMBER() OVER (ORDER BY plant_type, plant_cde, plant_nme) AS RowNumber, 
           plnt_idn AS PlantId,
           LTRIM(RTRIM(sap_plant_cde)) AS SapPlantCode,
           LTRIM(RTRIM(plant_cde)) AS PlantCode,
           LTRIM(RTRIM(plant_nme)) AS PlantName,
           LTRIM(RTRIM(plant_type)) AS PlantType,
           begin_dte AS BeginDate,
           end_dte AS EndDate,
           starting_site_ind as StartingSiteInd
    FROM cte;
END
